body{
    background-color: #DCD9D4;
    background-image: linear-gradient(to right, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
    background-blend-mode: soft-light,screen;
    font-family: 'poppins';
    
}

.completed {
    text-decoration: line-through;
    color: #5c5c5c; 
    background-color: #bcbcbc; 
    padding: 5px 10px; 
    border-radius: 5px; 
    transition: all 0.3s ease; 
}
.completed:hover {
    background-color: #e2e2e2; 
    color: #555; 
    cursor: pointer; 
}

input::placeholder {
    color: #898989 !important; 
}

p {
    font-size: 22px !important; 
  }
  
  @media (min-width: 992px) { 
    p {
      font-size: 28px !important;
    }
  }

  .text-gradient {
    background: linear-gradient(to right, #007bff, #ed2a8b); 
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 60px !important;
    color: transparent; 
    font-weight: bold;
}

@media (min-width: 300px) and (max-width: 767px) {
    .text-gradient {
       font-size: 35px !important; 
       font-weight: 700 !important;
    }
}

.custom-input {
    width: 280px !important;
    max-width: 100%; 
}

.text-gradient2 {
    background-image: linear-gradient(45deg, #592E2F , #894939 , #C87A4B , #F0B268 , #FADAA0 ); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}

 .bg{
    background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
 }

 .border1{
    border-color:#828071d3;
 }

 .border2{
    border-color: #a8a8a8;
 }

 @font-face {
    font-family: 'Boxicons';
    src: url('https://unpkg.com/boxicons@2.1.4/fonts/boxicons.woff2') format('woff2');
    font-display: swap;
}

@media (min-width: 1200px) {
    .mar {
        margin-right: 190px;
    }

    .mar1 {
        margin-left: 190px;
    }
}

.mar3{
    margin-top: 80px;
}
